<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/bibliotech-favicon-color.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title>BiblioTech</title>
</head>

<body>

  <div id="body-2">
    <header>
      <a href="/index">
        <img class="logo" src="/imgs/logo-no-background.png" alt="logo" style="width: 300px; padding:20px; ">
      </a>
      
    </header>
    
    <div class="menu">
      <div class="dropdown">
        <button class="dropbtn">Autor</button>
        <div class="dropdown-content">
          <a href="/autor/showForm">Cadastrar Autor</a>
          <a href="/autor/getListaAutores">Listar Autores</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Editora</button>
        <div class="dropdown-content">
          <a href="/editora/showForm">Cadastrar Editora</a>
          <a href="/editora/getListaEditoras">Listar Editoras</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Empréstimo</button>
        <div class="dropdown-content">
          <a href="/emprestimo/showForm">Fazer Empréstimo</a>
          <a href="/emprestimo/getListaEmprestimos">Listar Empréstimos</a>
          <a href="/emprestimo/getListaEmprestimosAtivos">Listar Empréstimos Ativos</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Livro</button>
        <div class="dropdown-content">
          <a href="/livro/showForm">Cadastrar Livro</a>
          <a href="/livro/getListaLivros">Listar Livros</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Usuario</button>
        <div class="dropdown-content">
          <a href="/usuario/showForm">Cadastrar Usuario</a>
          <a href="/usuario/getListaUsuarios">Listar Usuarios</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sobre</button>
        <div class="dropdown-content">
          <a href="/mapeamento">Mapeamento BD</a>
        </div>
      </div>
    </div>

    <div id="conteudo" class="conteudo">

      <div th:switch="${showDiv}">

        <div th:case="formAutor">
          <form action="#" th:action="@{/autor/addAutor}" th:object="${autor}" method="post">
            <h2>Cadastrar Autor</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
            <label for="nacionalidade">Nacionalidade:</label>
            <input type="text" id="nacionalidade" th:field="*{nacionalidade}" />
            <button type="submit">Salvar</button>
          </form>
        </div>

        <div class="tabela" th:case="listaAutores">
          <table>
            <tr>
              <th>Lista de Autores</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Nacionalidade</th>
                <th>Livros</th>
              </tr>
              <tr th:each="autor : ${autores}">
                <td th:text="${autor.id}"></td>
                <td th:text="${autor.nome}"></td>
                <td th:text="${autor.nacionalidade}"></td>
                <td>
                  <table>
                    <tr th:each="livro : ${autor.livros}">
                      <td th:text="${livro.titulo}" style="padding: 0; background-color: transparent;"></td>
                    </tr>
                  </table>
              </tr>
            </table>
          </table>
            
          <p th:if="${mensagem} != null" th:text="${mensagem}" style="text-align: center; padding: 1em;"></p>
        </div>

        <div th:case="formEditora">
          <form action="#" th:action="@{/editora/addEditora}" th:object="${editora}" method="post">
            <h2>Cadastrar Editora</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" th:field="*{endereco}" />
            <button type="submit">Salvar</button>
          </form>
        </div>

        <div class="tabela" th:case="listaEditoras">
          <table>
            <tr>
              <th>Lista de Editoras</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
              </tr>
              <tr th:each="editora : ${editoras}">
                <td th:text="${editora.id}"></td>
                <td th:text="${editora.nome}"></td>
                <td th:text="${editora.endereco}"></td>
              </tr>
            </table>
          </table>
          <p th:if="${mensagem} != null" th:text="${mensagem}" style="text-align: center; padding: 1em;"></p>
        </div>

        <div th:case="formEmprestimo">
          <form action="#" th:action="@{/emprestimo/addEmprestimo}" th:object="${emprestimo}" method="post">
            <h2>Fazer Empréstimo</h2>
            <label for="usuario">Usuario:</label>
            <select id="usuario" th:field="*{usuario}">
              <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
            </select>
            <label for="livro">Livro:</label>
            <select id="livro" th:field="*{livro}">
              <option th:each="livro : ${livros}" th:value="${livro.id}" th:text="${livro.titulo}"></option>
            </select>
            <button type="submit">Salvar</button>
          </form>
        </div>

        <div class="tabela" th:case="listaEmprestimos">
          <table>
            <tr>
              <th>Lista de Empréstimos</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Livro</th>
                <th>Data de Empréstimo</th>
                <th >Data de Devolução</th>
                <th >Devolvido</th>
              </tr>
              <tr th:each="emprestimo : ${emprestimos}">
                <td th:text="${emprestimo.id}"></td>
                <td th:text="${emprestimo.usuario.nome}"></td>
                <td th:text="${emprestimo.livro.titulo}"></td>
                <td th:text="${emprestimo.dataEmprestimo}"></td>
                <td  th:text="${emprestimo.dataDevolucao}"></td>
                <td >
                  <span th:if="${emprestimo.devolvido} == false">
                    <span style="line-height:30px;">Não</span>
                    <form th:action="@{/emprestimo/devolverEmprestimo}" method="post" style="all: unset;">
                      <input type="hidden" name="id" th:value="${emprestimo.id}" />
                      <input onclick="if(!confirmAction()) { event.preventDefault(); }" type="submit" value="Devolver" style="margin:0; float:right"/>
                    </form>
                  </span>
                  <span th:if="${emprestimo.devolvido} == true">Sim</span>
                </td>
              </tr>
            </table>
          </table>
          <p th:if="${mensagem} != null" th:text="${mensagem}" style="text-align: center; padding: 1em;"></p>
        </div>

        <div class="tabela" th:case="listaEmprestimosAtivos">
          <table>
            <tr>
              <th>Lista de Emprestimos</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Livro</th>
                <th>Data de Empréstimo</th>
              </tr>
              <tr th:each="emprestimo : ${emprestimos}">
                <td th:text="${emprestimo.id}"></td>
                <td th:text="${emprestimo.usuario.nome}"></td>
                <td th:text="${emprestimo.livro.titulo}"></td>
                <td th:text="${emprestimo.dataEmprestimo}"></td>
              </tr>
            </table>
          </table>
        </div>

        <div th:case="formLivro">
          <form action="#" th:action="@{/livro/addLivro}" th:object="${livro}" method="post">
            <h2>Cadastrar Livro</h2>
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" th:field="*{titulo}" />
            <label for="ano">Ano:</label>
            <input type="text" id="ano" th:field="*{ano}" />
            <label for="Gênero">Gênero:</label>
            <input type="text" id="genero" th:field="*{genero}" />
            
            <label for="editora">Editora:</label>
            <select id="editora" th:field="*{editora}">
              <option th:each="editora : ${editoras}" th:value="${editora.id}" th:text="${editora.nome}"></option>
            </select>

            <label for="autor">Autor:</label>
            <div th:each="autor : ${autores}">
              <input type="checkbox" th:field="*{autores}" th:value="${autor.id}" />
              <label th:text="${autor.nome}"></label>
            </div>
            
            <button type="submit">Salvar</button>
          </form>
        </div>
          
        <div class="tabela" th:case="listaLivros">
          <table>
            <tr>
              <th>Lista de Livros</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Ano</th>
                <th>Gênero</th>
                <th>Editora</th>
                <th>Autores</th>
              </tr>
              <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}"></td>
                <td th:text="${livro.titulo}"></td>
                <td th:text="${livro.ano}"></td>
                <td th:text="${livro.genero}"></td>
                <td th:text="${livro.editora.nome}"></td>
                <td>
                  <table>
                    <tr th:each="autor : ${livro.autores}">
                      <td th:text="${autor.nome}" style="padding:0; background-color: transparent;"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </table>
          <p th:if="${mensagem} != null" th:text="${mensagem}" style="text-align: center; padding: 1em;"></p>
        </div>

        <div th:case="formUsuario">
          <form action="#" th:action="@{/usuario/addUsuario}" th:object="${usuario}" method="post">
            <h2>Cadastrar Usuario</h2>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" />
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" />
            <button type="submit">Salvar</button>
          </form>
        </div>

        <div class="tabela" th:case="listaUsuarios">
          <table>
            <tr>
              <th>Lista de Usuários</th>
            </tr>
            <table>
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
              </tr>
              <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td>
                  <span th:text="${usuario.nome}" style="line-height:30px;"></span>
                  <form th:action="@{/usuario/deletarUsuario}" method="post" style="all: unset;">
                    <input type="hidden" name="id" th:value="${usuario.id}" />
                    <input onclick="if(!confirmAction()) { event.preventDefault(); }" type="submit" value="Excluir" style="margin:0;float:right"/>
                  </form>
                </td>
                <td th:text="${usuario.email}"></td>
              </tr>
            </table>
          </table>
          <p th:if="${mensagem} != null" th:text="${mensagem}" style="text-align: center; padding: 1em;"></p>
        </div>

        <div th:case="mapeamento" style="text-align: center; margin: 0 30px;">
          <h3>Mapeamento do Banco de Dados</h3>
          <img src='/imgs/mapeamento-bd.png' alt='mapeamento-bd' style='width: 100%; border: 1px solid lightgrey'>
        </div>

        <div th:case="*" style="margin: 30px;">
          <h2>Bem vindo ao BiblioTech
            <img src="/imgs/bibliotech-favicon-black.png" alt="favicon-black" style="height: 25px">
          </h2>
          <p>Sistema para administração de bibliotecas.</p>
          <p>Escolha uma opção no menu acima para começar.</p>
          <p>Orientações:</p>
          <p> - O autor precisa ser/estar cadastrado antes que seu livro o seja.</p>
          <p> - O usuário precisa ser/estar cadastrado antes de realizar o empréstimo.</p>
        </div>
        
      </div>
    </div>
  </div>

</body>

<script>
  function confirmAction() {
    return confirm("Tem certeza que deseja realizar esta ação?");
  }
</script>

</html>